$default-font: 'Muller';
$content-width: 1640px;
$heightHeader: 0px;
$heightFooter: 140px;
$minHeightMain: calc(100vh - (#{$heightHeader} + #{$heightFooter}));
$heightFooter: 144px;
@-webkit-keyframes menu {
    from {
        left: 100vw;
    }
    to {
        left: 0;
    }
}

@keyframes menu {
    from {
        left: 100vw;
    }
    to {
        left: 0;
    }
}